---
# Variables for Linode server configuration
name: ""
# Default to 2048MB plan
plan: 2
# Default to Dallas plan
datacenter: 2
# CentOS 7 default
distribution: 4
root_password: ""
private_ip: yes
ssh_pub_key: ""
# Default to 2GB swap
swap: 2048
wait: yes
wait_timeout: 600
state: present
alert_bwquota_enabled: True
alert_bwquota_threshold: 80
alert_bwin_enabled: True
alert_bwin_threshold: 10
alert_cpu_enabled: True
alert_cpu_threshold: 100
alert_diskio_enabled: True
alert_bwout_enabled: True
alert_bwout_threshold: 10
alert_diskio_enabled: True
alert_diskio_threshold: 10000
backupweeklyday: 1
# Default backups to 2:00-3:00am time
backupwindow: 3
displaygroup: ""
additional_disks:
- {Label: '', Size: 2500, Type: 'raw'}
- {Label: 'data', Size: 2000}
watchdog: True
