*.retry
.vagrant
Vagrantfile
test*
*.*~
group_vars/all/main.yml
roles/libsimple-aws-objects/defaults/main.yml
roles/geer*
vars/linode_vars.yml
vars/virtualbox_multi_vars.yml
vars/containers.yml
.boto
