---
admin_ip: "" # e.g. your local admin workstation's public IP
# Instance information
libsimple_instance_name: "MyLibrary"
libsimple_server_type: "circulation"
libsimple_environment: "production"

# EC2 Login information
# Amazon Linux default below
#ec2_user_name: "ec2-user"
# CentOS default
ec2_initial_user: "centos"

# Library Simplified
default_notification_email_address: ""
secret_key: ""
metadata_wrangler_url: http://metadata.librarysimplified.org/
content_server_url: ""
# PostgreSQL
psql_db_name: "simplified_circ_db"
psql_username: "simplified"
psql_password: ""

# Docker containers
system_timezone: ""
