---
# Variables for Linode Creation

linode_api_key: ""
linode_name: "SimplyE-test1"
distribution_name: "CentOS 7"
distribution_id: "linode/centos7"
# The Linode default is 1 (Linode 1024); but plan 2 (Linode 2048) is required for SCM
plan_id: 2
# This default location (ID 2) is Dallas, TX
datacenter_id: 2 
# Disk image size in MB
swap_size: 2048
root_password: ""
admin_username: ""
# A sample key pair filename
admin_ssh_keyname: "scm_linode_test1"
admin_password: ""
