---
# Variables for SimplyE VirtualBox VMs

root_password: ""
admin_username: ""
admin_password: ""

# Customizations for Circulation Manager Server
cm_machine_label: "CircMgr"
cm_memory_allocation: 4096
cm_host_name: "devlocal-cm"
cm_host_port: "8080"
cm_autostart: "true"

# Customizations for Webclient Server
temp_build: true
webclient_machine_label: "WebClient"
webclient_memory_allocation: 2048
webclient_host_name: "devlocal-webclient"
webclient_host_port: "8081"
webclient_autostart: "false"
