---
# Create Linode with CentOS7 image

- local_action:
  module: linode
    api_key: 'longStringFromLinodeApi'
    name: linode-test1
    plan: 4
    datacenter: 2
    distribution: 99
    password: 'superSecureRootPassword'
    private_ip: yes
    ssh_pub_key: 'ssh-rsa qwerty'
    swap: 768
    wait: yes
    wait_timeout: 600
    state: present
    alert_bwquota_enabled: True
    alert_bwquota_threshold: 80
    alert_bwin_enabled: True
    alert_bwin_threshold: 10
    alert_cpu_enabled: True
    alert_cpu_threshold: 210
    alert_diskio_enabled: True
    alert_bwout_enabled: True
    alert_bwout_threshold: 10
    alert_diskio_enabled: True
    alert_diskio_threshold: 10000
    backupweeklyday: 1
    backupwindow: 2
    displaygroup: 'test'
    additional_disks:
    - {Label: 'disk1', Size: 2500, Type: 'raw'}
    - {Label: 'newdisk', Size: 2000}
    watchdog: True