{
  "Version": "2012-10-17",
  "Statement": [
    {
      "Effect": "Allow",
      "Principal": {
        "AWS": "*"
      },
      "Action": [
        "es:*"
      ],
      "Condition": {
        "IpAddress": {
          "aws:SourceIp": [
            "{{ ec2_ip }}"
          ]
        }
      },
      "Resource": "arn:aws:es:{{ aws_region }}:{{ aws_account }}:domain/{{ ec2_es_domain_name[0:28] }}/*"
    }
  ]
}
